.column-header {
  font-style: italic;
  display: none;
}
.note-generator {
  padding: 10px;
}
.post-it {
  height: 165px;
}
#celebrate, #growth, #seeking {
  display: none;
}
#corner-name {
  padding-right: 10px;
}
a:active {
  text-color: #01579b;
}
